body {
  background-color: paleturquoise;
  background-image: url(Cat.jpg);
}

p {
  font-size: larger;
  border-style: solid;
  border-color: black;
  border-width: thick;
  width: 25%;
  padding: 3px 0 0 10px;
}

#breed {
  background-color: pink;
  border-style: solid;
  border-color: black;
  border-width: thick;
  width: 25%;
  padding: 3px 0 0 10px;
}

.quotation {
  background-color: yellowgreen;
}

#wikipedia_url {
  background-color: pink;
  border-style: solid;
  border-color: black;
  border-width: thick;
  width: 25%;
  padding: 3px 0 0 10px;
}
