body {
  background-color: paleturquoise;
}

p {
  font-size: larger;
}

#breed {
  background-color: pink;
  border-style: solid;
  border-color: black;
  border-width: thick;
}

.quotation {
  background-color: yellowgreen;
}
